.booking-form {
  flex-direction: column;
}
.booking-form div {
  display: flex;
  flex-direction: column;
  margin: 2px;
}
.booking-form label {
  font-weight: 500;
}
#orders-table {
  overflow-x: auto;
}
#orders-table table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}
#orders-table th {
  border: 1px solid;
  padding: 1rem;
  text-align: left;
}
#orders-table button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#orders-table td {
  border: 1px solid #ddd;
  padding: 1rem;
}
.search-flight-container {
  @apply grid  grid-cols-2 sm:grid-cols-3 gap-4;
}
